<% extend("../master")%>
<div class="container-fluid main-conten">
    <div class="row content">
        <%- include('sections/leftSide');%>
        <%- include('sections/rightSide');%>
    </div>
</div>